@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center">
    <div class="col">
        <h1>Welcome</h1>
        <h2>@Model.Message</h2>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <img src="/images/banner.jpg" class="w-100 img-fluid img-thumbnail" alt="RazorPagesProject"/>
    </div>
</div>
